<div class="col-md-6 col-md-offset-3 pandatronik-important-container" *ngIf="days">
    <div class="pandatronik-new-1 col-md-12">
        <div class="panel-body">
            <h5 class="media-heading">{{ days.body }}</h5>
            <hr>
            <h6>{{ days.rateDay }}</h6>
            <h5>{{ days.startDate | date:'yyyy-MM-dd' }}</h5>
        </div>
    </div>
</div>

<div class="md-padding" ng-controller="BasicDemoCtrl as ctrl">
    <p>
      A panel can be used to create dialogs, menus, and other overlays.
    </p>
    <h2>Options</h2>
    <div layout="row">
  
    <div class="demo-md-panel-content">
      <p>Your favorite dessert is: {{ ctrl.selected.favoriteDessert }}</p>
    </div>
  </div>
</div>

<!-- <div class="md-padding" ng-controller="BasicDemoCtrl as ctrl">
    <p>
      A panel can be used to create dialogs, menus, and other overlays.
    </p>
    <h2>Options</h2>
    <div layout="row">
      <div flex="33">
        <md-checkbox ng-model="ctrl.disableParentScroll">Disable Parent Scroll</md-checkbox>
      </div>
  
    <div class="demo-md-panel-content">
      <md-button class="md-primary md-raised demo-dialog-open-button"
                 ng-click="ctrl.showDialog($event)">
        Dialog
      </md-button>
      <md-button class="md-primary md-raised demo-menu-open-button"
                 ng-click="ctrl.showMenu($event)">
        Select Menu
      </md-button>
  
      <p>Your favorite dessert is: {{ ctrl.selected.favoriteDessert }}</p>
    </div>
  </div>
</div> -->