<div class="col-md-6 col-md-offset-3 pandatronik-important-container">
  <div class="pandatronik-new-1">
    <form [formGroup]="daysForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <textarea
              placeholder="body"
              title="body"
              formControlName="body"
              type="text"
              id="body"
              rows="5"
              class="form-control pandatronik-input-1"
            ></textarea>
            <div
              *ngIf="
                daysForm.controls['body'].touched &&
                daysForm.controls['body'].hasError('required')
              "
              class="alert alert-danger"
            >
              Task description is required
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <select
              aria-placeholder="rate day"
              title="rate day"
              formControlName="rateDay"
              type="text"
              id="rateDay"
              class="form-control pandatronik-input-1"
            >
              <option value="100">Very good</option>
              <option value="75">Good</option>
              <option value="50">OK</option>
              <option value="25">Bad</option>
              <option value="0">Very bad</option>
            </select>
          </div>
        </div>
      </div>
      <input
        type="hidden"
        formControlName="startDate"
        class="form-control"
        [value]="startDate.value"
        [(ngModel)]="startDate"
        name="startDate"
        id="startDate"
      />
      <input
        type="hidden"
        formControlName="postedOn"
        class="form-control"
        [value]="postedOn.value"
        [(ngModel)]="postedOn"
        name="postedOn"
        id="postedOn"
      />
      <input
        type="hidden"
        formControlName="userProfileId"
        id="userProfileId"
        [(ngModel)]="userProfileId"
        [value]="userProfileId.value"
      />
      <div class="row">
        <div class="col-md-12">
          <button
            type="submit"
            [disabled]="!daysForm.valid"
            class="btn btn-success"
          >
            Submit
          </button>
          <button
            type="button"
            class="btn btn-danger pull-right"
            *ngIf="editMode"
            (click)="onDelete()"
          >
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
