<mat-card class="pandatronik-mat-card">
  <form [formGroup]="loginForm" (ngSubmit)="handleJWTAuthLogin()">
    <app-input
      controlType="input" 
      [control]="loginForm.get('username')" 
      placeholder="username"
      title="username"
      label="Username">
    </app-input>

    <app-input
      controlType="password" 
      inputType="password"
      [control]="loginForm.get('password')" 
      placeholder="password"
      title="password"
      label="Password">
    </app-input>
    
    <button type="submit" color="primary" mat-raised-button [disabled]="!loginForm.valid">Submit</button>
  </form>  
  <br>
  <button
    type="button"
    color="accent" mat-raised-button
    routerLink="/forgotpassword"
    >Forgot password 123</button>
</mat-card>  