<form [formGroup]="selectDate" class="choose-date-form" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-field-padding" appearance="outline">
    <mat-select formControlName="selectYear" id="selectYear">
      <mat-option [value]="2020">2020</mat-option>
      <mat-option [value]="2019">2019</mat-option>
      <mat-option [value]="2018">2018</mat-option>
      <mat-option [value]="2017">2017</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-field-padding" appearance="outline">
    <mat-select formControlName="selectTask" id="selectTask">
      <mat-option [value]="1" (click)="onRadioButtonClicked(1)">1</mat-option>
      <mat-option [value]="2" (click)="onRadioButtonClicked(2)">2</mat-option>
      <mat-option [value]="3" (click)="onRadioButtonClicked(3)">3</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" color="primary" mat-raised-button>Submit</button>
</form>

{{ importantTask1Count }}

<!-- <div class="col-md-3" [chart]="pieChart"></div>
<div class="col-md-9" [chart]="columnChart"></div> -->

