<form [formGroup]="selectDate" (ngSubmit)="onSubmit()">
  <app-input 
      controlType="selectyear" 
      [control]="selectDate.get('selectYear')"
      label="Select year">
  </app-input>
  <app-input 
      controlType="selecttask" 
      [control]="selectDate.get('selectTask')"
      label="Select task">
  </app-input>
  <button type="submit" color="primary" mat-raised-button>Submit</button>
</form>

<hr>

{{ role['100'] }}

<div style="display: block;">
  <canvas baseChart 
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [colors]="pieChartColors"
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
</div>


