<mat-card class="pandatronik-mat-card">
  <form [formGroup]="importantForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Title</mat-label>
      <input 
        matInput 
        placeholder="title" 
        formControlName="title"
        type="text"
        id="title"
        name="title"
        maxlength="40">
    </mat-form-field>
    <mat-error *ngIf="
      importantForm.controls['title'].touched &&
      importantForm.controls['title'].hasError('maxlength')">
      {{ title_length_validator }}
    </mat-error>
    <mat-error *ngIf="
      importantForm.controls['title'].touched &&
      importantForm.controls['title'].hasError('required')">
      {{ title_required_validator }}
    </mat-error>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Body</mat-label>
      <textarea
        matInput
        placeholder="body"
        title="body"
        formControlName="body"
        type="text"
        id="body"
        name="body"
        rows="5"
        maxlength="255"
      ></textarea>
    </mat-form-field>
    <mat-error *ngIf="
      importantForm.controls['body'].touched &&
      importantForm.controls['body'].hasError('maxlength')">
      {{ body_length_validator }}
    </mat-error>
    <mat-error *ngIf="
      importantForm.controls['body'].touched &&
      importantForm.controls['body'].hasError('required')">
      {{ body_required_validator }}
    </mat-error>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Made</mat-label>
        <mat-select formControlName="made" id="made">
          <mat-option [value]="0">100</mat-option>
          <mat-option [value]="1">75</mat-option>
          <mat-option [value]="2">50</mat-option>
          <mat-option [value]="3">25</mat-option>
          <mat-option [value]="4">0</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <input
      type="hidden"
      formControlName="startDate"
      class="form-control"
      id="startDate"
    />
    <input
      type="hidden"
      formControlName="postedOn"
      class="form-control"
      id="postedOn"
    />
    <input
      type="hidden"
      formControlName="userProfileId"
      id="userProfileId"
    />
    <button type="submit" color="primary" mat-raised-button [disabled]="!importantForm.valid">Submit</button>
    <button
      type="button"
      color="warn" mat-raised-button
      *ngIf="editMode"
      ng-confirm-click="Confirm unfavorite?"
      (click)="onDelete()">Delete</button>
  </form>  
</mat-card>