<mat-card class="pandatronik-mat-card">
  <form [formGroup]="importantForm" (ngSubmit)="onSubmit()">
    <app-input 
      controlType="input" 
      [control]="importantForm.get('title')" 
      placeholder="title"
      title="title"
      label="Title">
    </app-input>

    <app-input 
      controlType="textarea" 
      [control]="importantForm.get('body')" 
      placeholder="body"
      title="body"
      label="Body">
    </app-input>

    <app-input 
      controlType="select" 
      [control]="importantForm.get('made')"
      label="Completed In">
    </app-input>

    <app-input 
      controlType="hidden" 
      inputType="hidden"
      hidden="true"
      [control]="importantForm.get('startDate')">
    </app-input>

    <app-input 
      controlType="hidden" 
      inputType="hidden"
      hidden="true"
      [control]="importantForm.get('postedOn')">
    </app-input>

    <app-input 
      controlType="hidden" 
      inputType="hidden"
      hidden="true"
      [control]="importantForm.get('userProfileId')">
    </app-input>
    
    <button type="submit" color="primary" mat-raised-button [disabled]="!importantForm.valid">Submit</button>
    <button
      type="button"
      color="warn" mat-raised-button
      *ngIf="editMode"
      ng-confirm-click="Confirm unfavorite?"
      (click)="onDelete()">Delete</button>
  </form>  
</mat-card>