<div class="col-md-12">
  <div class="row col-md-12">
    <form [formGroup]="selectDate" (ngSubmit)="onSubmit()">
      <div class=" form-group pandatronik-select">
        <div class="col-md-2">
          <select
            formControlName="selectYear"
            type="text"
            id="selectYear"
            class="form-control pandatronik-input-1"
          >
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
          </select>
        </div>
        <div class="col-md-2">
          <select
            formControlName="selectMonth"
            type="text"
            id="selectMonth"
            class="form-control pandatronik-input-1"
          >
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
  <div class="row col-md-12">
    <table
      class="table table-bordered text-center"
      *ngIf="lessImportantIndexData"
    >
      <tr
        *ngFor="let num of monthDay"
        [ngStyle]="{
          'background-color': today === num + 1 ? '#B0DDBD' : ''
        }"
      >
        <td
          (click)="
            !lessImportantIndexData[num][0]
              ? num + 1 <= today || today == -1
                ? onAddExtraordinaryClick(year, month, num + 1)
                : ''
              : onEditExtraordinaryClick(lessImportantIndexData[num][0])
          "
          class="col-sm-1 col-md-1"
          [ngClass]="{
            pandatronik_navigate_yellow: num + 1 <= today || today == -1
          }"
          [ngStyle]="{
            'background-color': lessImportantIndexData[num][1] ? '#FFD633' : ''
          }"
          *ngIf="weekDayArr"
          title="{{ lessImportantIndexData[num][1] }}"
        >
          <!-- 0, 1-->
          <h2>{{ num + 1 }}</h2>
          {{ weekDayArr[num] }}
        </td>

        <td
          (click)="
            !lessImportantIndexData[num][2]
              ? num + 1 <= today || today == -1
                ? onAddNewClick(1, year, month, num + 1)
                : ''
              : onEditClick(1, lessImportantIndexData[num][2])
          "
          [ngClass]="{
            pandatronik_navigate_green: num + 1 <= today || today == -1
          }"
          class="col-sm-3 col-md-3 pandatronik_green_{{
            lessImportantIndexData[num][3]
          }}"
          title="{{ lessImportantIndexData[num][4] }}"
        ></td>

        <td
          (click)="
            !lessImportantIndexData[num][5]
              ? num + 1 <= today || today == -1
                ? onAddNewClick(2, year, month, num + 1)
                : ''
              : onEditClick(2, lessImportantIndexData[num][5])
          "
          [ngClass]="{
            pandatronik_navigate_yellow: num + 1 <= today || today == -1
          }"
          class="col-sm-3 col-md-3 pandatronik_yellow_{{
            lessImportantIndexData[num][6]
          }}"
          title="{{ lessImportantIndexData[num][7] }}"
        ></td>

        <td
          (click)="
            !lessImportantIndexData[num][8]
              ? num + 1 <= today || today == -1
                ? onAddNewClick(3, year, month, num + 1)
                : ''
              : onEditClick(3, lessImportantIndexData[num][8])
          "
          [ngClass]="{
            pandatronik_navigate_blue: num + 1 <= today || today == -1
          }"
          class="col-sm-3 col-md-3 pandatronik_blue_{{
            lessImportantIndexData[num][9]
          }}"
          title="{{ lessImportantIndexData[num][10] }}"
        ></td>

        <td
          (click)="
            !lessImportantIndexData[num][11]
              ? num + 1 <= today || today == -1
                ? onAddDayClick(year, month, num + 1)
                : ''
              : onEditDayClick(lessImportantIndexData[num][11])
          "
          [ngClass]="{
            pandatronik_navigate_green: num + 1 <= today || today == -1
          }"
          class="col-sm-2 col-md-2 pandatronik_green_{{
            lessImportantIndexData[num][12]
          }}"
        ></td>
      </tr>
    </table>
  </div>
</div>
<br />
