<!-- <div class="alert alert-warning" *ngIf="authenticationService.isTokenExpired()">
  {{ tokenExpiredMessage }}
</div> -->
<!-- <div class="alert alert-warning" *ngIf="invalidLogin">{{ errorMessage }}</div> -->
<!-- <div class="col-md-6 col-md-offset-3 pandatronik-important-container">
  <div class="pandatronik-new-1 col-md-12">
    <form [formGroup]="loginForm" (ngSubmit)="handleJWTAuthLogin()">
      <div class="row form-group">
        <input
          type="text"
          name="username"
          formControlName="username"
          class="form-control pandatronik-input-1"
          placeholder="username"
          [(ngModel)]="username"
        />
      </div>
      <div class="row form-group">
        <input
          type="password"
          name="password"
          formControlName="password"
          placeholder="password"
          class="form-control pandatronik-input-1"
          [(ngModel)]="password"
        />
      </div>
      <div class="row form-group">
        <button
          type="submit"
          [disabled]="!loginForm.valid"
          class="btn btn-success"
        >
          Login
        </button>
      </div>
    </form>

    <div class="row form-group pull-right">
      <span routerLink="/forgotpassword" style="cursor: pointer;">
        Forgot password
      </span>
    </div>
  </div>
</div> -->

<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="handleJWTAuthLogin()">
        <mat-form-field class="form-field-padding">
          <input 
            formControlName="username"
            id="username"
            type="text"
            name="username"
            matInput placeholder="Username" required>
        </mat-form-field>
        <mat-form-field class="form-field-padding">
            <input 
              formControlName="password"
              id="password"
              type="password"
              name="password"
              matInput placeholder="Password" required>
          </mat-form-field>     
          <button type="submit" color="primary" mat-raised-button [disabled]="!loginForm.valid">Login</button>     
      </form>
</div>

<div class="row form-group pull-right">
    <span routerLink="/forgotpassword" style="cursor: pointer;">
      Forgot password
    </span>
  </div>
