<!-- <div class="alert alert-warning" *ngIf="authenticationService.isTokenExpired()">
  {{ tokenExpiredMessage }}
</div> -->
<!-- <div class="alert alert-warning" *ngIf="invalidLogin">{{ errorMessage }}</div> -->
<div class="col-md-6 col-md-offset-3 pandatronik-important-container">
  <div class="pandatronik-new-1">
    <form [formGroup]="loginForm" (ngSubmit)="handleJWTAuthLogin()">
      <div class="row form-group">
        <input
          type="text"
          name="username"
          formControlName="username"
          class="form-control pandatronik-input-1 col-md-6"
          placeholder="username"
          [(ngModel)]="username"
        />
      </div>
      <div class="row form-group">
        <input
          type="password"
          name="password"
          formControlName="password"
          placeholder="password"
          class="form-control pandatronik-input-1 col-md-6"
          [(ngModel)]="password"
        />
      </div>
      <div class="row form-group">
        <button
          type="submit"
          [disabled]="!loginForm.valid"
          class="btn btn-success"
        >
          Login
        </button>
      </div>
    </form>

    <div class="form-group pull-right">
      <span routerLink="/forgotpassword" style="cursor: pointer;">
        Forgot password
      </span>
    </div>
  </div>
</div>
