<form [formGroup]="selectDate" class="choose-date-form" (ngSubmit)="onSubmit()">
  <app-input 
    controlType="selectyear" 
    [control]="selectDate.get('selectYear')"
    label="Select year">
  </app-input>

  <app-input 
    controlType="selectmonth" 
    [control]="selectDate.get('selectMonth')"
    label="Select month">
  </app-input>

  <button type="submit" color="primary" mat-raised-button>Submit</button>
</form>

<mat-grid-list cols="5" rowHeight="2:1" *ngIf="taskIndexData">
  <ng-container *ngFor="let num of numbers">
    <!-- Extraordinary -->
    <mat-grid-tile (click)="
      !taskIndexData[num].extraordinaryResponse.id
        ? num + 1 <= today || today == -1
        ? onAddExtraordinaryClick(year, month, num + 1)
        : ''
        : onEditExtraordinaryClick(taskIndexData[num].extraordinaryResponse.id)"
        [style.background]="today === num + 1 ? '#B0DDBD' : taskIndexData[num].extraordinaryResponse.id ? yellow_completion_styles[100] : ''"
        [ngClass]="{pandatronik_navigate_yellow: num + 1 <= today || today == -1}"
        title="{{ taskIndexData[num].extraordinaryResponse.title }}">
        <mat-list>
            <mat-list-item [style.flex-direction]="column"><h1>{{ num + 1 }}</h1></mat-list-item>
            <mat-list-item [style.height]="0">{{ weekDayArr[num] ? weekDayArr[num] : '0' }}</mat-list-item>
          </mat-list>
    </mat-grid-tile>
    <!-- Important 1 -->
    <mat-grid-tile (click)="
      !taskIndexData[num].importantResponse.id
        ? num + 1 <= today || today == -1
        ? onAddNewClick(target, 1, year, month, num + 1)
        : ''
        : onEditClick(target, 1, taskIndexData[num].importantResponse.id)"
        [style.background]="green_completion_styles[taskIndexData[num].importantResponse.made]"
        [ngClass]="{pandatronik_navigate_green: num + 1 <= today || today == -1}"
        title="{{ taskIndexData[num].importantResponse.title }}">
    </mat-grid-tile>
    <!-- Important 2 -->
    <mat-grid-tile (click)="
      !taskIndexData[num].importantResponse2.id
        ? num + 1 <= today || today == -1
        ? onAddNewClick(target, 2, year, month, num + 1)
        : ''
        : onEditClick(target, 2, taskIndexData[num].importantResponse2.id)"
        [style.background]="yellow_completion_styles[taskIndexData[num].importantResponse2.made]"
        [ngClass]="{pandatronik_navigate_yellow: num + 1 <= today || today == -1}"
        title="{{ taskIndexData[num].importantResponse2.title }}">
    </mat-grid-tile>
    <!-- Important 3 -->
    <mat-grid-tile (click)="
      !taskIndexData[num].importantResponse3.id
        ? num + 1 <= today || today == -1
        ? onAddNewClick(target, 3, year, month, num + 1)
        : ''
        : onEditClick(target, 3, taskIndexData[num].importantResponse3.id)"
        [style.background]="blue_completion_styles[taskIndexData[num].importantResponse3.made]"
        [ngClass]="{pandatronik_navigate_blue: num + 1 <= today || today == -1}"
        title="{{ taskIndexData[num].importantResponse3.title }}">
    </mat-grid-tile>
    <!-- Days -->
    <mat-grid-tile (click)="
      !taskIndexData[num].daysResponse.id
        ? num + 1 <= today || today == -1
        ? onAddDayClick(year, month, num + 1)
        : ''
        : onEditDayClick(taskIndexData[num].daysResponse.id)"
        [style.background]="green_completion_styles[taskIndexData[num].daysResponse.rateDay]"
        [ngClass]="{pandatronik_navigate_green: num + 1 <= today || today == -1}"
        title="Days">
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>