<form [formGroup]="selectDateRange" (ngSubmit)="onSubmit()">
  <app-input 
    controlType="selectelement" 
    [control]="selectDateRange.get('selectComponent')"
    label="Select element">
  </app-input>

  <app-input 
    controlType="selecttask" 
    [control]="selectDateRange.get('selectTask')"
    label="Select month">
  </app-input>

  <app-input 
    controlType="input" 
    [control]="selectDateRange.get('selectStartDate')" 
    placeholder="Select Start Date"
    title="Select Start Date"
    label="Select Start Date">
  </app-input>

  <mat-form-field class="pandatronik-select-date" appearance="outline">
    <mat-label>Select End Date</mat-label>
      <input 
        matInput 
        placeholder="Select End Date" 
        formControlName="selectEndDate"
        type="text"
        id="selectEndDate"
        name="selectEndDate"
        maxlength="40">
  </mat-form-field>

  <button type="submit" color="primary" mat-raised-button>Submit</button>
</form>