<mat-toolbar color="primary">
  <button mat-button 
      *ngIf="authService.isUserLoggedIn()"
      routerLinkActive="active"
      [style.background]="isImportantActive ? '#0d47a1' : ''"
      routerLink="important/{{ year }}/{{ month }}">Important</button>
      
  <button mat-button  
      *ngIf="authService.isUserLoggedIn()"
      routerLinkActive="active"
      [style.background]="isLessImportantActive ? '#0d47a1' : ''"
      routerLink="lessimportant/{{ year }}/{{ month }}">Less Important</button>  

  <button mat-button [matMenuTriggerFor]="statSubMenu"
      routerLinkActive="active"
      [style.background]="isStatisticsActive ? '#0d47a1' : ''"
      *ngIf="authService.isUserLoggedIn()">Statistics</button>

  <mat-menu #statSubMenu="matMenu" >
    <button mat-menu-item 
      routerLink="/statistics/important/1/{{ year }}">Important</button>
    <button mat-menu-item
      routerLink="/statistics/lessimportant/1/{{ year }}">Less Important</button>
    <button mat-menu-item 
      routerLink="/statistics/days/{{ year }}">Days {{ year }}</button>
    <button mat-menu-item
      routerLink="/statistics/days/{{ year }}/{{ month }}">Days {{ year }} / {{ month }}</button>        
  </mat-menu>

  <div class="flex-spacer"></div>

  <button mat-button
    *ngIf="!authService.isUserLoggedIn()"
    routerLink="/register">Register</button>
  
  <button mat-button 
    *ngIf="!authService.isUserLoggedIn()"
    class="pull-right"
    routerLink="/login">Login</button>

  <button mat-button 
    *ngIf="authService.isUserLoggedIn()"
    routerLink="/logout">Logout</button>
  
</mat-toolbar>


