<mat-toolbar color="primary">
    <button mat-button *ngIf="authService.isUserLoggedIn()" title="{{ username }}"
        routerLink="user/{{ authService.getAuthenticatedUser() }}">
        <mat-icon aria-hidden="false" aria-label="User account">account_circle</mat-icon></button>

    <button mat-button *ngIf="authService.isUserLoggedIn()" [ngClass]="{'active': activeUrl === 'important'}"
        routerLink="important/{{ year }}/{{ month }}">Important</button>

    <button mat-button *ngIf="authService.isUserLoggedIn()" [ngClass]="{'active': activeUrl === 'lessimportant'}"
        routerLink="lessimportant/{{ year }}/{{ month }}">Less Important</button>

    <div class="flex-spacer"></div>

    <button mat-button *ngIf="!authService.isUserLoggedIn()" routerLink="/register">Register</button>

    <button mat-button *ngIf="!authService.isUserLoggedIn()" class="pull-right" routerLink="/login">Login</button>

    <button mat-button *ngIf="authService.isUserLoggedIn()" routerLink="/logout">Logout</button>

</mat-toolbar>