<mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ label }}</mat-label>
    <input matInput *ngIf="controlType === 'input'" [type]="inputType" [formControl]="control" />

    <input matInput *ngIf="controlType === 'password'" [type]="inputType" [formControl]="control" />

    <textarea matInput *ngIf="controlType === 'textarea'" placeholder="{{ placeholder }}" title="{{ title }}"
        [formControl]="control" rows="5" maxlength="255"></textarea>

    <mat-select *ngIf="controlType === 'select'" [formControl]="control">
        <mat-option [value]="100">100</mat-option>
        <mat-option [value]="75">75</mat-option>
        <mat-option [value]="50">50</mat-option>
        <mat-option [value]="25">25</mat-option>
        <mat-option [value]="0">0</mat-option>
    </mat-select>

    <mat-select *ngIf="controlType === 'selectyear'" [formControl]="control">
        <mat-option [value]="2024">2024</mat-option>
        <mat-option [value]="2023">2023</mat-option>
        <mat-option [value]="2022">2022</mat-option>
        <mat-option [value]="2021">2021</mat-option>
        <mat-option [value]="2020">2020</mat-option>
        <mat-option [value]="2019">2019</mat-option>
        <mat-option [value]="2018">2018</mat-option>
        <mat-option [value]="2017">2017</mat-option>
    </mat-select>

    <mat-select *ngIf="controlType === 'selectmonth'" [formControl]="control">
        <mat-option [value]="1">January</mat-option>
        <mat-option [value]="2">February</mat-option>
        <mat-option [value]="3">March</mat-option>
        <mat-option [value]="4">April</mat-option>
        <mat-option [value]="5">May</mat-option>
        <mat-option [value]="6">June</mat-option>
        <mat-option [value]="7">July</mat-option>
        <mat-option [value]="8">August</mat-option>
        <mat-option [value]="9">September</mat-option>
        <mat-option [value]="10">October</mat-option>
        <mat-option [value]="11">November</mat-option>
        <mat-option [value]="12">December</mat-option>
    </mat-select>

    <mat-select *ngIf="controlType === 'selecttask'" [formControl]="control">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
    </mat-select>

    <mat-button-toggle-group *ngIf="controlType === 'selecttask2'" [formControl]="control">
        <mat-button-toggle [value]="1">1</mat-button-toggle>
        <mat-button-toggle [value]="2">2</mat-button-toggle>
        <mat-button-toggle [value]="3">3</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-select *ngIf="controlType === 'selectelement'" [formControl]="control">
        <mat-option value="important">important</mat-option>
        <mat-option value="lessimportant">lessimportant</mat-option>
        <mat-option value="days">days</mat-option>
    </mat-select>

    <input matInput *ngIf="controlType === 'hidden'" [hidden]="hidden" [formControl]="control" />

</mat-form-field>

<div *ngIf="showErrors()">
    <mat-error *ngIf="control.errors.maxlength">
        Max Length
    </mat-error>

    <mat-error *ngIf="control.errors.minlength">
        Min Length
    </mat-error>

    <mat-error *ngIf="control.errors.duplicated">
        Duplicated
    </mat-error>

    <mat-error *ngIf="control.errors.pattern">
        Pattern
    </mat-error>

    <mat-error *ngIf="control.errors.email">
        Email
    </mat-error>

    <mat-error *ngIf="control.errors.required">
        Value is required
    </mat-error>

    <mat-error *ngIf="control.errors.passwordDontMatch">
        Password and Password Confirmation must match
    </mat-error>
</div>