<footer class="pandatronik-footer">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-3">
        <h5 class="text-uppercase">
          <a href="#!" class="pandatronik-nav">About us</a>
        </h5>
        <ul class="list-unstyled pandatronik-nav">
          <li>
            <h6 class="text-uppercase">
              <a href="#!" class="pandatronik-nav">About us</a>
            </h6>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase">
          <a href="#!" class="pandatronik-nav">About us</a>
        </h5>
        <ul class="list-unstyled pandatronik-nav">
          <li>
            <h6 class="text-uppercase">
              <a href="#!" class="pandatronik-nav">About us</a>
            </h6>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
          <h5 class="text-uppercase">
            <a href="#!" class="pandatronik-nav">About us</a>
          </h5>
          <ul class="list-unstyled pandatronik-nav">
            <li>
              <h6 class="text-uppercase">
                <a href="#!" class="pandatronik-nav">About us</a>
              </h6>
            </li>
          </ul>
        </div> -->
        <div class="text-center pandatronik-footer-darker">© 2018 Copyright:
          <a href="http://pandatronik.com"> pandatronik.com</a>
        </div>
    </div>
  </div>
  
</footer>