.pandatronik-footer {
	background: #0d233a;
    color: #ffffff;
    bottom : 0;
    left: 0;
    position: fixed;
	width: 100%;
}

.pandatronik-footer-darker {
    background: #0d233a;
    padding: 4px;
    width: 100%;
}

.pandatronik-nav {
    color: white;
}