<div class="col-md-6 col-md-offset-3 pandatronik-important-container">
  <div class="pandatronik-new-1 col-md-12">
    <form [formGroup]="passwordChangeForm" (ngSubmit)="requestNewPassword()">
      <div class="row form-group">
        <input
          type="password"
          name="password"
          formControlName="password"
          placeholder="password"
          class="form-control pandatronik-input-1"
          [(ngModel)]="password"
          maxlength="24"
        />
        <div
          *ngIf="
            passwordChangeForm.controls['password'].touched &&
            passwordChangeForm.controls['password'].hasError('required')
          "
          class="alert alert-danger"
        >
          Password field is required
        </div>
        <div
          *ngIf="
            passwordChangeForm.controls['password'].touched &&
            (passwordChangeForm.controls['password'].hasError('minlength') ||
              passwordChangeForm.controls['password'].hasError('maxlength'))
          "
          class="alert alert-danger"
        >
          Password field size must be between 6 and 24 characters
        </div>
      </div>
      <div class="row form-group">
        <input
          type="password"
          name="confirmPassword"
          formControlName="confirmPassword"
          placeholder="confirm password"
          class="form-control pandatronik-input-1"
          [(ngModel)]="confirmPassword"
          maxlength="24"
        />
        <div
          *ngIf="
            passwordChangeForm.controls['confirmPassword'].touched &&
            passwordChangeForm.controls['confirmPassword'].hasError('required')
          "
          class="alert alert-danger"
        >
          ConfirmPassword field is required
        </div>
        <!-- <div
              *ngIf="
                passwordChangeForm.controls['confirmPassword'].touched &&
                passwordChangeForm.controls['confirmPassword'].hasError(
                  'validateAreEqual'
                )
              "
              class="alert alert-danger"
            >
              ConfirmPassword field must match Password
            </div> -->
      </div>
      <div class="row form-group">
        <button
          type="submit"
          [disabled]="!passwordChangeForm.valid"
          class="btn btn-success"
        >
          Send
        </button>
      </div>
    </form>
  </div>
</div>
