<!-- selectDate: FormGroup; -->
<!-- this.selectDate = new FormGroup({
    selectYear: new FormControl(selectYear, Validators.required),
    selectMonth: new FormControl(selectMonth, Validators.required)
  }); -->
<form [formGroup]="selectDate" (ngSubmit)="onSubmit()">
    <app-input controlType="selectyear" [control]="selectDate.get('selectYear')" label="Select year">
    </app-input>

    <app-input controlType="selectmonth" [control]="selectDate.get('selectMonth')" label="Select month">
    </app-input>

    <button type="submit" color="primary" mat-raised-button>Submit</button>
</form>

<mat-grid-list cols="5" rowHeight="2:1" *ngIf="indexData">
    <ng-container *ngFor="let entry of dataToDisplay; let day = index">
        <mat-grid-tile (click)="
            !entry.extraordinaryDTO
                ? day + 1 <= today || today == -1
                ? onAddExtraordinaryClick(year, month, day + 1)
                : ''
                : onEditExtraordinaryClick(entry.extraordinaryDTO.id)"
            [style.background]="today === day + 1 ? '#B0DDBD' : entry.extraordinaryDTO ? yellow_completion_styles[100] : ''"
            [ngClass]="{pandatronik_navigate_yellow: day + 1 <= today || today == -1}"
            [title]="entry.extraordinaryDTO ? entry.extraordinaryDTO.title : ''">
            <mat-list>
                <mat-list-item>
                    <h1>{{ day + 1 }}</h1>
                </mat-list-item>
                <mat-list-item [style.height]="0">{{ weekDayArr[day] ? weekDayArr[day] : '0' }}</mat-list-item>
            </mat-list>
        </mat-grid-tile>

        <mat-grid-tile (click)="
            !entry.taskDTO
                ? day + 1 <= today || today == -1
                ? onAddNewClick(target, 1, year, month, day + 1)
                : ''
                : onEditClick(target, 1, entry.taskDTO.id)"
            [style.background]="entry.taskDTO ? green_completion_styles[entry.taskDTO.made] : ''"
            [ngClass]="{pandatronik_navigate_green: day + 1 <= today || today == -1}"
            [title]="entry.taskDTO ? entry.taskDTO.title : ''">
        </mat-grid-tile>

        <mat-grid-tile (click)="
            !entry.task2DTO
                ? day + 1 <= today || today == -1
                ? onAddNewClick(target, 2, year, month, day + 1)
                : ''
                : onEditClick(target, 2, entry.task2DTO.id)"
            [style.background]="entry.task2DTO ? yellow_completion_styles[entry.task2DTO.made] : ''"
            [ngClass]="{pandatronik_navigate_yellow: day + 1 <= today || today == -1}"
            [title]="entry.task2DTO ? entry.task2DTO.title : ''">
        </mat-grid-tile>


        <mat-grid-tile (click)="
            !entry.task3DTO
                ? day + 1 <= today || today == -1
                ? onAddNewClick(target, 3, year, month, day + 1)
                : ''
                : onEditClick(target, 3, entry.task3DTO.id)"
            [style.background]="entry.task3DTO ? blue_completion_styles[entry.task3DTO.made] : ''"
            [ngClass]="{pandatronik_navigate_blue: day + 1 <= today || today == -1}"
            [title]="entry.task3DTO ? entry.task3DTO.title : ''">
        </mat-grid-tile>

        <mat-grid-tile (click)="
            !entry.daysDTO
                ? day + 1 <= today || today == -1
                ? onAddDayClick(year, month, day + 1)
                : ''
                : onEditDayClick(entry.daysDTO.id)"
            [style.background]="entry.daysDTO ? green_completion_styles[entry.daysDTO.rateDay] : ''"
            [ngClass]="{pandatronik_navigate_green: day + 1 <= today || today == -1}"
            [title]="entry.daysDTO ? entry.daysDTO.rateDay : ''">
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>